
```{=html}

<% for (const item of items) { %>

<h2><%- item.degree %></h2>

<p><%- item.description %></p>

<div class="grid">

<% for (const course of item.courses) { %>
  <div class="card border-2 rounded-3 g-col-12 g-col-sm-6 g-col-md-4 mb-2">
    <div class="card-header py-1 px-2 border-bottom border-1 bg-light">
      <small class="card-text inline-block">
        <a href="<%- course.href %>" class="listing-title"><%= course.title %></a>
      </small>
    </div>
    <div class="card-body">
      <% if (course.subtitle) { %><p class="card-text"><%= course.subtitle %></p><% } %>
      <% if (course.university) { %><p class="card-text"><small class="text-muted"><%= course.university %></small></p><% } %>
    </div>
  </div>
<% } %>

</div>

<% } %>

```

